:root {
    --navy-intro-email-signup-background: #1c2431;
    --navy-main-background: #181f2a;
    --navy-footer-background: #0b1523;
    --navy-testimonials-background: #202a3c;

    --teal-inside-call-to-action-gradient: #65e2d9;
    --cyan-inside-call-to-action-gradient: #339ecc;
    --red-error: #ff4242;

    --white-01: #ffffff;
    --white-02: #ddd;

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Raleway', Helvetica;
}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--white-01);
    background-color: var(--navy-testimonials-background);
}

.btn-gradient {
    background-image: linear-gradient(
        to right,
        var(--teal-inside-call-to-action-gradient),
        var(--cyan-inside-call-to-action-gradient)
    );
    color: var(--white-01);
    font-weight: 600;
    padding: 0.75rem;
    border-radius: 30px;
}



/* HEADER */

#header {
    padding: 1em 1.5em;
    background-color: var(--navy-intro-email-signup-background);
}

#header .navbar-nav {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: clamp(6rem, 10vw, 8rem);
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-link {
    font-size: clamp(0.75rem, 4vw, 1.1rem);
    text-decoration: none;
    color: white;
}

@media (max-width: 350px) {
    #logo {
        width: 4rem;
    }
}



/* MAIN */

#main {
    position: relative;
    background-color: var(--navy-main-background);
    padding-bottom: 45vh;
}


/* INTRO SECTION */

.intro-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 0;
}

.intro-section * {
    z-index: 2;
}

.intro-illustration {
    width: 100%;
}

.title {
    font-family: var(--font-secondary);
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 600;
    line-height: 1.4;
}

.with-bg-img, .not-bg-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
}

.with-bg-img {
    padding: 1.5rem 1rem 0;
    background-color: var(--navy-intro-email-signup-background);
    background-image: url('../images/bg-curvy-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.not-bg-img {
    padding: 1.5rem 2.5rem 4rem;
}

.subtitle {
    line-height: 1.5;
}

.btn-get-started {
    width: 250px;
}

@media (min-width: 575px) {
    
    .intro-section {
        margin: 0;
        width: 100vw;
        background-color: var(--navy-intro-email-signup-background);
        background-image: url('../images/bg-curvy-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .with-bg-img  {
        background-image: none;
        background-color: transparent;
    }

}


/* BENEFITS SECTION */

.benefits-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 3rem 1.5rem;
}

.benefits-section .card {
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--navy-main-background);
    border: none;
    text-align: center;
    color: var(--white-01);
}

.benefits-section .card-img {
    width: 60px;
    margin-bottom: 1rem;
}

.benefits-section .card-title {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
}



/* PURPOSE SECTION */

.purpose-section , .purpose-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1.5rem 4rem;
}

.purpose-img {
    width: 100%;
    margin-bottom: 2rem;
}

.purpose-section h2 {
    font-size: clamp(1.1rem, 5vw, 2rem);
    font-weight: 600;
}

.purpose-section a {
    text-decoration: none;
    color: var(--teal-inside-call-to-action-gradient);
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--teal-inside-call-to-action-gradient);
    width: fit-content;
}



/* COMMENTS SECTION */

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 4rem 2.5rem;
}

.comments-section .card {
    gap: 1rem;
    padding: 1.5rem 1.25rem 1.25rem;
    font-size: clamp(0.75rem, 3vw, 0.85rem);
    color: var(--white-02);
    background-color: var(--navy-testimonials-background);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.13);
}

.comments-section .card .card-profile {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min-content max-content;
    column-gap: 0.5rem;
}

.comments-section .card .card-profile-img {
    width: 35px;
    border-radius: 50%;
    grid-row: span 2;
}

.comments-section .card .card-profile-name {
    font-size: clamp(0.8rem, 4vw, 1rem);
}

.comments-section .card:nth-child(1) {
    position: relative;
    z-index: 1000 !important;
}

.quotes {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, -100%);
    width: 25px;
    z-index: 1 !important;
}



/* EMAIL SIGNUP ARTICLE */

.email-signup {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    align-items: center;
    gap: 1rem;
    padding: 3rem 1.5rem 1rem;
    margin: 1.5rem 1rem 0;
    text-align: center;
    color: var(--white-01);
    background-color: var(--navy-intro-email-signup-background);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.email-signup h2 {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

.email-signup p {
    font-size: clamp(0.9rem, 3vw, 1rem);
    color: var(--white-02);
    line-height: 1.5;
}

.email-signup form {
    width: 100%;
}

#email, .btn-started-free {
    display: block;
    width: 100%;
    height: 50px;
    margin: 1.5rem auto;
}

#email {
    padding-left: 1.5rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: clamp(0.75rem, 1vw, 1rem);
}



/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 40vh 1.5rem 2rem;
    color: var(--white-02);
    background-color: var(--navy-footer-background);
}

.footer-logo {
    width: 60%;
    max-width: 150px;
    margin-left: 1rem;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.location {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.location p {
    font-size: clamp(1rem, 4vw, 1.15rem);
}

.location-icon {
    padding-top: 5px;
    object-fit: contain;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contact p img {
    margin-right: 1rem;
}

#footer .navbar {
    margin: 1rem 0;
}

#footer .navbar-nav {
    align-items: flex-start;
    gap: 0;
}

#footer .nav-link {
    font-size: 1rem;
    color: var(--white-02);
}

#footer .social-links {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#footer .social-links .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white-01);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    
    #main .intro-section {
        width: 100%;
    }

}

@media (min-width: 1280px) {

    /* HEADER */
    
    #header {
        padding: 3rem 4rem;
    }

    #header .navbar-nav {
        gap: 2rem;
    }

    /* MAIN */

    #main {
        padding-bottom: 30vh;
    }

    /* INTRO SECTION */

    .intro-section {
        align-items: center;
        background-image: url('../images/bg-curvy-desktop.svg');
        background-size: 100%;
        background-position: bottom;
    }

    .intro-section div {
        max-width: 500px;
    }

    .not-bg-img {
        margin-bottom: 8rem;
    }

    /* BENEFITS SECTION */

    .benefits-section {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        padding: 0;
    }

    .benefits-section .card {
        max-width: 400px;
    }

    /* PURPOSE SECTION */

    .purpose-section {
        flex-direction: row;
        align-items: center;
    }
    
    .purpose-img {
        flex: 1;
    }

    .purpose-content {
        flex: 1;
    }

    /* COMMENTS SECTION */

    .comments-section {
        flex-direction: row;
    }

    .comments-section .card .card-profile-img {
        width: 40px;
        height: 40px;
    }

    .quotes {
        width: 50px;
        transform: translateY(-80%);
    }

    /* EMAIL SIGNUP ARTICLE */

    .email-signup {
        width: 60vw;
        max-width: 900px;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
        gap: 2rem;
        padding: 3rem 4rem 2rem;
    }

      .email-signup form {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    #email, .btn-started-free {
        display: inline-block;
        height: 50px;
        margin: 0;
    }

    #email {
        flex: 2;
    }

    .btn-started-free {
        flex: 1;
    }

    /* FOOTER */

    #footer {
        padding-bottom: 4rem;
    }

    .footer-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .location {
        max-width: 500px;
    }

    #footer .navbar {
        margin: 0;
        padding: 0;
    }

    #footer .navbar-nav {
        gap: 1.5rem;
    }

    #footer .nav-item {
        line-height: 0;
    }


}